In [2]:
import os
import pandas as pd
import numpy as np
import sklearn

In [3]:
import gradio as gr
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier

In [4]:
data=pd.read_excel("final.xlsx")

In [5]:
data

,Unnamed: 0,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,0 Type
0,0,M,298.1,308.6,1551,42.8,0,0,1
1,1,L,298.2,308.7,1408,46.3,3,0,1
2,2,L,298.1,308.5,1498,49.4,5,0,1
3,3,L,298.2,308.6,1433,39.5,7,0,1
4,4,L,298.2,308.7,1408,40.0,9,0,1
...,...,...,...,...,...,...,...,...,...
9995,9995,M,298.8,308.4,1604,29.5,14,0,1
9996,9996,H,298.9,308.4,1632,31.8,17,0,1
9997,9997,M,299.0,308.6,1645,33.4,22,0,1
9998,9998,H,299.0,308.7,1408,48.5,25,0,1
9999,9999,M,299.0,308.7,1500,40.2,30,0,1

In [6]:
df1= data.drop(["Unnamed: 0"] , axis=1)

In [7]:
df2= df1.drop(["Type"], axis=1)

In [8]:
df2

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,0 Type
0,298.1,308.6,1551,42.8,0,0,1
1,298.2,308.7,1408,46.3,3,0,1
2,298.1,308.5,1498,49.4,5,0,1
3,298.2,308.6,1433,39.5,7,0,1
4,298.2,308.7,1408,40.0,9,0,1
...,...,...,...,...,...,...,...
9995,298.8,308.4,1604,29.5,14,0,1
9996,298.9,308.4,1632,31.8,17,0,1
9997,299.0,308.6,1645,33.4,22,0,1
9998,299.0,308.7,1408,48.5,25,0,1
9999,299.0,308.7,1500,40.2,30,0,1

In [9]:
#Importing Train Test Split
from sklearn.model_selection import train_test_split

In [10]:
X= df2.drop("0 Type", axis=1)
y= df2["0 Type"]

In [11]:
np.random.seed(1)
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.3)

In [12]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.912579112928594

In [13]:
import gradio as gr
from sklearn import datasets

In [14]:
def iris(Air_Temperature, Process_temperature, Rotational_speed, Torque,Tool_wear, Target):
    prediction = model.predict([[Air_temperature [K], Process_temperature [K],Rotational_speed [rpm],Torque [Nm],Tool_wear [min], Target]])
    prediction = data.target_names[prediction]
    return prediction
    
    
    
#Input


input2 = gr.inputs.Number(label="Air temperature [K]")
input3 = gr.inputs.Number(label="Process temperature [K]")
input4 = gr.inputs.Number(label="Rotational speed [rpm]")
input5 = gr.inputs.Number(label="Torque [Nm]")
input6 = gr.inputs.Number(label="Tool wear [min]")
input7 = gr.inputs.Number(label="Target")

#output
output = gr.outputs.Textbox(label= "Machine Failure status")

#Interface
gui = gr.Interface(fn=iris,
                   inputs=[input2, input3, input4, input5, input6, input7],
                   outputs=output).launch()

C:\Users\Soham\AppData\Local\Programs\Python\Python310\lib\site-packages\gradio\inputs.py:58: UserWarning: Usage of gradio.inputs is deprecated, and will not be supported in the future, please import your component from gradio.components
  warnings.warn(
C:\Users\Soham\AppData\Local\Programs\Python\Python310\lib\site-packages\gradio\deprecation.py:40: UserWarning: `optional` parameter is deprecated, and it has no effect
  warnings.warn(value)
C:\Users\Soham\AppData\Local\Programs\Python\Python310\lib\site-packages\gradio\outputs.py:21: UserWarning: Usage of gradio.outputs is deprecated, and will not be supported in the future, please import your components from gradio.components
  warnings.warn(

IMPORTANT: You are using gradio version 3.12.0, however version 3.14.0 is available, please upgrade.
--------
Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.