In [4]:
#Importing the required Libraries
import os
import numpy as np
import pandas as pd
import random

In [5]:
#Getting a list of files in the folder
os.listdir()

['.ipynb_checkpoints',
 '3.png',
 'archive (1).zip',
 'archive (2).zip',
 'database.sqlite',
 'dataset.pdf',
 'df1.xlsx',
 'dfadv.xlsx',
 'dfadv2.xlsx',
 'dfadv3.xlsx',
 'Elon.jpeg',
 'Elon2.jpg',
 'Elon3.jpg',
 'final.xlsx',
 'flagged',
 'Iris.csv',
 'Leo.jpg',
 'Machine learning.jpg',
 'mllifecycle.jfif',
 'Overview.xlsx',
 'ps7.csv',
 'ps7.rar',
 'readin.m',
 'Runtime Terror.pptx',
 'Scikitlearn.png',
 'TripA01.csv',
 'TripA02.csv',
 'TripA03.csv',
 'TripA04.csv',
 'TripA05.csv',
 'TripA06.csv',
 'TripA07.csv',
 'TripA08.csv',
 'TripA09.csv',
 'TripA10.csv',
 'TripA11.csv',
 'TripA12.csv',
 'TripA13.csv',
 'TripA14.csv',
 'TripA15.csv',
 'TripA16.csv',
 'TripA17.csv',
 'TripA18.csv',
 'TripA19.csv',
 'TripA20.csv',
 'TripA21.csv',
 'TripA22.csv',
 'TripA23.csv',
 'TripA24.csv',
 'TripA25.csv',
 'TripA26.csv',
 'TripA27.csv',
 'TripA28.csv',
 'TripA29.csv',
 'TripA30.csv',
 'TripA31.csv',
 'TripA32.csv',
 'TripB01.csv',
 'TripB02.csv',
 'TripB03.csv',
 'TripB04.csv',
 'TripB05.csv',
 'TripB06.csv',
 'TripB07.csv',
 'TripB08.csv',
 'TripB09.csv',
 'TripB10.csv',
 'TripB11.csv',
 'TripB12.csv',
 'TripB13.csv',
 'TripB14.csv',
 'TripB15.csv',
 'TripB16.csv',
 'TripB17.csv',
 'TripB18.csv',
 'TripB19.csv',
 'TripB20.csv',
 'TripB21.csv',
 'TripB22.csv',
 'TripB23.csv',
 'TripB24.csv',
 'TripB25.csv',
 'TripB26.csv',
 'TripB27.csv',
 'TripB28.csv',
 'TripB29.csv',
 'TripB30.csv',
 'TripB31.csv',
 'TripB32.csv',
 'TripB33.csv',
 'TripB34.csv',
 'TripB35.csv',
 'TripB36.csv',
 'TripB37.csv',
 'TripB38.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'working tony.jpg']

In [6]:
#Importing Dataset
df1= pd.read_csv("ps7.csv")

In [7]:
df1

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [8]:
df1.size

100000

In [9]:
#Exporting to Excel to make necessary changes
df1.to_excel("df1.xlsx")

In [10]:
os.listdir()

['.ipynb_checkpoints',
 '3.png',
 'archive (1).zip',
 'archive (2).zip',
 'database.sqlite',
 'dataset.pdf',
 'df1.xlsx',
 'dfadv.xlsx',
 'dfadv2.xlsx',
 'dfadv3.xlsx',
 'Elon.jpeg',
 'Elon2.jpg',
 'Elon3.jpg',
 'final.xlsx',
 'flagged',
 'Iris.csv',
 'Leo.jpg',
 'Machine learning.jpg',
 'mllifecycle.jfif',
 'Overview.xlsx',
 'ps7.csv',
 'ps7.rar',
 'readin.m',
 'Runtime Terror.pptx',
 'Scikitlearn.png',
 'TripA01.csv',
 'TripA02.csv',
 'TripA03.csv',
 'TripA04.csv',
 'TripA05.csv',
 'TripA06.csv',
 'TripA07.csv',
 'TripA08.csv',
 'TripA09.csv',
 'TripA10.csv',
 'TripA11.csv',
 'TripA12.csv',
 'TripA13.csv',
 'TripA14.csv',
 'TripA15.csv',
 'TripA16.csv',
 'TripA17.csv',
 'TripA18.csv',
 'TripA19.csv',
 'TripA20.csv',
 'TripA21.csv',
 'TripA22.csv',
 'TripA23.csv',
 'TripA24.csv',
 'TripA25.csv',
 'TripA26.csv',
 'TripA27.csv',
 'TripA28.csv',
 'TripA29.csv',
 'TripA30.csv',
 'TripA31.csv',
 'TripA32.csv',
 'TripB01.csv',
 'TripB02.csv',
 'TripB03.csv',
 'TripB04.csv',
 'TripB05.csv',
 'TripB06.csv',
 'TripB07.csv',
 'TripB08.csv',
 'TripB09.csv',
 'TripB10.csv',
 'TripB11.csv',
 'TripB12.csv',
 'TripB13.csv',
 'TripB14.csv',
 'TripB15.csv',
 'TripB16.csv',
 'TripB17.csv',
 'TripB18.csv',
 'TripB19.csv',
 'TripB20.csv',
 'TripB21.csv',
 'TripB22.csv',
 'TripB23.csv',
 'TripB24.csv',
 'TripB25.csv',
 'TripB26.csv',
 'TripB27.csv',
 'TripB28.csv',
 'TripB29.csv',
 'TripB30.csv',
 'TripB31.csv',
 'TripB32.csv',
 'TripB33.csv',
 'TripB34.csv',
 'TripB35.csv',
 'TripB36.csv',
 'TripB37.csv',
 'TripB38.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'working tony.jpg']

In [11]:
df2= pd.read_excel("dfadv.xlsx")

In [12]:
df2

,Unnamed: 0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [13]:
df3= df2.drop(['UDI'], axis=1)

In [14]:
df3

,Unnamed: 0,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,0,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,1,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,2,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,3,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,4,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9995,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9996,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9997,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9998,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,9999,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [15]:
df4= df3.drop(['Unnamed: 0'], axis=1)

In [16]:
df5= df4.drop(['Product ID'], axis=1)

In [17]:
df5

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,M,299.0,308.7,1500,40.2,30,0,No Failure

In [18]:
#Importing scikit learn to fit data to the model and seaborn for Visualization
import sklearn
import seaborn

In [19]:
#Importing Train Test Split
from sklearn.model_selection import train_test_split

In [20]:
X= df5.drop("Failure Type", axis=1)
y= df5["Failure Type"]

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
#turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Type","Target"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder = "passthrough")
transformed_X =transformer.fit_transform(X)
transformed_X

array([[0.000e+00, 0.000e+00, 1.000e+00, ..., 1.551e+03, 4.280e+01,
        0.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 1.408e+03, 4.630e+01,
        3.000e+00],
       [0.000e+00, 1.000e+00, 0.000e+00, ..., 1.498e+03, 4.940e+01,
        5.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 1.645e+03, 3.340e+01,
        2.200e+01],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.408e+03, 4.850e+01,
        2.500e+01],
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 1.500e+03, 4.020e+01,
        3.000e+01]])

In [23]:
os.listdir()

['.ipynb_checkpoints',
 '3.png',
 'archive (1).zip',
 'archive (2).zip',
 'database.sqlite',
 'dataset.pdf',
 'df1.xlsx',
 'dfadv.xlsx',
 'dfadv2.xlsx',
 'dfadv3.xlsx',
 'Elon.jpeg',
 'Elon2.jpg',
 'Elon3.jpg',
 'final.xlsx',
 'flagged',
 'Iris.csv',
 'Leo.jpg',
 'Machine learning.jpg',
 'mllifecycle.jfif',
 'Overview.xlsx',
 'ps7.csv',
 'ps7.rar',
 'readin.m',
 'Runtime Terror.pptx',
 'Scikitlearn.png',
 'TripA01.csv',
 'TripA02.csv',
 'TripA03.csv',
 'TripA04.csv',
 'TripA05.csv',
 'TripA06.csv',
 'TripA07.csv',
 'TripA08.csv',
 'TripA09.csv',
 'TripA10.csv',
 'TripA11.csv',
 'TripA12.csv',
 'TripA13.csv',
 'TripA14.csv',
 'TripA15.csv',
 'TripA16.csv',
 'TripA17.csv',
 'TripA18.csv',
 'TripA19.csv',
 'TripA20.csv',
 'TripA21.csv',
 'TripA22.csv',
 'TripA23.csv',
 'TripA24.csv',
 'TripA25.csv',
 'TripA26.csv',
 'TripA27.csv',
 'TripA28.csv',
 'TripA29.csv',
 'TripA30.csv',
 'TripA31.csv',
 'TripA32.csv',
 'TripB01.csv',
 'TripB02.csv',
 'TripB03.csv',
 'TripB04.csv',
 'TripB05.csv',
 'TripB06.csv',
 'TripB07.csv',
 'TripB08.csv',
 'TripB09.csv',
 'TripB10.csv',
 'TripB11.csv',
 'TripB12.csv',
 'TripB13.csv',
 'TripB14.csv',
 'TripB15.csv',
 'TripB16.csv',
 'TripB17.csv',
 'TripB18.csv',
 'TripB19.csv',
 'TripB20.csv',
 'TripB21.csv',
 'TripB22.csv',
 'TripB23.csv',
 'TripB24.csv',
 'TripB25.csv',
 'TripB26.csv',
 'TripB27.csv',
 'TripB28.csv',
 'TripB29.csv',
 'TripB30.csv',
 'TripB31.csv',
 'TripB32.csv',
 'TripB33.csv',
 'TripB34.csv',
 'TripB35.csv',
 'TripB36.csv',
 'TripB37.csv',
 'TripB38.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'working tony.jpg']

In [24]:
df6= pd.read_excel("dfadv3.xlsx")

In [25]:
df6

,Unnamed: 0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,0 Type
0,0,1,M14860,M,298.1,308.6,1551,42.8,0,0,1
1,1,2,L47181,L,298.2,308.7,1408,46.3,3,0,1
2,2,3,L47182,L,298.1,308.5,1498,49.4,5,0,1
3,3,4,L47183,L,298.2,308.6,1433,39.5,7,0,1
4,4,5,L47184,L,298.2,308.7,1408,40.0,9,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,1
9996,9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,1
9997,9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,1
9998,9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,1
9999,9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,1

In [26]:
df7= df6.drop(['Unnamed: 0'], axis=1)

In [27]:
df8= df7.drop(['UDI'], axis=1)

In [28]:
df9= df8.drop(['Product ID'], axis=1)

In [29]:
df9

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,0 Type
0,M,298.1,308.6,1551,42.8,0,0,1
1,L,298.2,308.7,1408,46.3,3,0,1
2,L,298.1,308.5,1498,49.4,5,0,1
3,L,298.2,308.6,1433,39.5,7,0,1
4,L,298.2,308.7,1408,40.0,9,0,1
...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,1
9996,H,298.9,308.4,1632,31.8,17,0,1
9997,M,299.0,308.6,1645,33.4,22,0,1
9998,H,299.0,308.7,1408,48.5,25,0,1
9999,M,299.0,308.7,1500,40.2,30,0,1

In [30]:
df9.to_excel("final.xlsx")

In [31]:
#turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Type"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder = "passthrough")
transformed_X =transformer.fit_transform(X)
transformed_X

array([[ 0. ,  0. ,  1. , ..., 42.8,  0. ,  0. ],
       [ 0. ,  1. ,  0. , ..., 46.3,  3. ,  0. ],
       [ 0. ,  1. ,  0. , ..., 49.4,  5. ,  0. ],
       ...,
       [ 0. ,  0. ,  1. , ..., 33.4, 22. ,  0. ],
       [ 1. ,  0. ,  0. , ..., 48.5, 25. ,  0. ],
       [ 0. ,  0. ,  1. , ..., 40.2, 30. ,  0. ]])

In [32]:
X= df9.drop("0 Type", axis=1)
y= df9["0 Type"]

In [33]:
y

0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: 0 Type, Length: 10000, dtype: int64

In [34]:
np.random.seed(1)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y , test_size = 0.3)

In [35]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
print("The accuracy of the Model is : " )
print(round(model.score(X_test, y_test)*100, 4), "%")

The accuracy of the Model is :
91.0401 %